@model _23DH113462_MyStore.Models.ViewModel.HomeProductVM
@using PagedList.Mvc;

<link rel="stylesheet" type="text/css" href="~/Content/myStyle/CustomerHome.css" />

<!--Hiển thị danh sách sản phẩm-->
@if (Model.FeaturedProducts != null && Model.NewProducts.Any())
{
    <section class="container-fluid listProduct">
        <h2>Sản phần mới</h2>
        <ul class="list-container">
            @foreach (var product in Model.NewProducts)
            {
                <li class="lproduct-item">
                    <div>
                        <a href="@Url.Action("ProductDetail", "Hone", new { id = product.ProductID })">
                            <img src="@product.ProductImage)" />
                        </a>
                    </div>
                    <div>
                        <p class="prodPrice">@product.ProductPrice)</p>
                        <p class="prodName">@product.ProductName) </p>
                        <p class="prodSale">
                            Đã bán:&nbsp; @product.OrderDetails.Count)
                        </p>
                    </div>
                </li>
            }
        </ul>
    </section>

    <!--Hiển thị phân trang-->
    <div class="pagination-container">
        @Html.PagedListPager(Model.NewProducts, page => Url.Action("Index", new
        {
       page,
       searchTerm = Model.SearchTerm
        }))
    </div>
}
else
{
    <p>Không tìm thấy sản phẩm nào phù hợp</p>
}